pandas==1.5.2
numpy==1.24.1
streamlit==1.16.0
streamlit-aggrid==0.3.3
plotly==5.11.0
plotly-express==0.4.1
lifelines==0.27.4
matplotlib==3.6.2
matplotlib-inline==0.1.6
pydicom
matplotlib
lifelines
plotly
opencv-python
